# Use the latest version of crewai and specify the faiss-cpu extra
crewai[faiss-cpu]
crewai-tools
langchain-community
langchain
langchain-huggingface
sentence-transformers
python-dotenv
tavily-python
streamlit
chromadb==0.4.24
tiktoken>=0.9.0